.container {
    padding:2rem;
}

.image {
    position: inherit !important;
    height:inherit !important;
    padding: 2rem 2rem 4rem 0rem;
}

.content {
    padding: 2rem;
}



.title {
    font-size: 1.5rem;
    font-weight: 700;
}
.text {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.list {
    list-style:none;
}

.list li::before {
    content: "\2022";
    color: #c78d38;
    font-size:1rem;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
}

.listItem {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.provText {
    margin-bottom:0.5rem;
}

@media screen and (max-width: 992px) {
    .container {
        padding:0;
        padding-top:2rem;
        padding-bottom: 2rem;
    }

    .image {
        padding:0;
    }

    .content {
        padding:0;
        padding-top:2rem;
    }
}