.background {
    background: url('/home_images/lodge-garden-area-pool.webp') no-repeat center center;
    background-size: cover;
    height:470px;
}

.lowerContainer {
    height: 235px;
    pointer-events: none;
}

.taglineContainer {
    margin-top:470px;
    display: flex;
    flex-direction: column;
    padding:2rem 0;
}

.tagline {
    font-family: "playfair-display", serif;
    font-size: 3rem;
    font-weight: 400;
    color: #c78d38;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    padding:2rem;
    background-color: #c78d38;
    margin-top: 335px;
    max-width:500px;
}

.text {
    font-size: 2rem;
    margin-bottom: 0rem;
    color: #fff;
}

.buttonContainer {
    padding-top:1rem;
}

.button {
    background: none;
    padding: 0.7rem 1.2rem;
    border: 1px solid #fff;
    width: fit-content;
    font-family: "lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #fff;
    pointer-events: all;
}

.button:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 8px 1px;
}

.pointerEvents {
    pointer-events: none;
}

.taglineMobile {
    display:none;
}

@media screen and (max-width: 992px) {
    .taglineMobile {
        display:block;
        margin-left:2rem;
        margin-bottom:2rem;
    }
    .taglineContainer {
        display: none;
    }

    .actionContainer {
        max-width:100%;
        position: absolute;
        left:0;
        text-align: center;
    }

    .lowerContainer {
        height: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .lowerContainer {
        height: 6rem;
    }
}
    
@media screen and (min-width: 421px) and (max-width: 600px) {
    .lowerContainer {
        height: 7rem;
    }
}


@media screen and (max-width: 420px) {
    .lowerContainer {
        height: 8rem;
    }
}

@media screen and (max-width: 360px) {
    .lowerContainer {
        height: 13rem;
    }
}

@media screen and (max-width: 300px) {
    .lowerContainer {
        height: 17rem;
    }
}