.lightboxWrap {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, .85);
    z-index: 100;
}

.lightboxWrap img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
}

.lightboxClose {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: block;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
}
